{{=<< >>=}}
\documentclass{beamer}
%
\usepackage[letterspace=50]{letterspace}
\usepackage{fontspec}
% \setmainfont{Source Pro}
\setmainfont{TeX Gyre Termes}
%\usepackage{bera}

% Choose how your presentation looks.
%
% For more themes, color themes and font themes, see:
% http://deic.uab.es/~iblanes/beamer_gallery/index_by_theme.html
%
\mode<presentation>
{
  % \usetheme{default}      % or try Darmstadt, Madrid, Warsaw, ...
  % \usetheme{Darmstadt}
  \usetheme{Madrid}
  \usecolortheme{default} % or try albatross, beaver, crane, ...
  % \usefonttheme{default}  % or try serif, structurebold, ...
  \usefonttheme{serif}
  \setbeamertemplate{navigation symbols}{}
  \setbeamertemplate{caption}[numbered]
} 

%\usepackage[english]{babel}
%\usepackage[utf8x]{inputenc}

\title[drill]{<<{title}>>}
\author{<<{author}>>}
\institute{}
\date{}

\long\def\fm#1.{%
\begin{frame}[c]
  \begin{center}\LARGE
    % \textls{#1}
    \textls{#1}
  \end{center}
\end{frame}
}

\begin{document}

\begin{frame}
  \titlepage
\end{frame}

<<#words>>
\begin{frame}<1-2>
  \begin{center}
    \Huge
    <<{lt}>>

    \vskip1.5pc
    \strut
    \only<2>
    {\smash{\textcolor{blue}{<<{en}>>}}}
        
  \end{center}
\end{frame}
<</words>>

\end{document}
